* {
    background-color: #141416;
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #ffdd00;
    background-color: #131313;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}
header img {
    width: 6rem;
    height: auto;
    margin-right: auto;
}

header nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

header nav a {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 25px;
    margin-top: 10px;
    border: #ffd700 2px solid;
    border-radius: 8px;
}

header nav a:hover {
    background-color: #1a1a1a;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header nav ul li {
    background-color: #000000;
}


header nav ul li a:hover {
    color: #ffd700;
}

#apresentação {
    margin-top: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
    border-bottom: #ffdd00 4px solid;
}

#apresentação h1 {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
    background-color: #0B1C2D;
    border-radius: 50px;
    padding: 10px;
    border: #ffdd00 2px solid;
}

#apresentação p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: #000000;
    border-radius: 50px;
    padding: 10px;
}

#apresentação #dois {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: #2b2b2b;
    border-radius: 0%;
    margin: 0%;
}

#apresentação h2 {
    font-size: 24px;
    text-decoration: underline;
    line-height: 1.4;
    margin-bottom: 20px;
    background-color: #000000;
    border-radius: 8px;
    padding: 10px;
    border-bottom: #ffd700 2px solid;
    margin-bottom: 0%;
}

#apresentação .container1 {
    padding: 20px;
}

.container1 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2b2a2a;
}

.container1 img {
    width: 240px;
    height: 320px;
    margin-right: 20px;
    border: #ff0000 2px solid;
    border-radius: 8px;
    margin: 0;
}

.container1 figure {
    margin: 10px;
    background-color: #1a1a1a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container1 h3 {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #ff0000;
    text-decoration: underline;
    border-radius: 12px;
}

.container1 p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff;
    background-color: #1a1a1a;
    border-radius: 50px;
}

.container1 .card1 {
    width: calc(100% / 3 - 20px);
    padding: 20px;
    margin: 10px;
    border: #ff0000 2px solid;
    border-radius: 8px;
    background-color: #1a1a1a;
    
}



.container1 article figcaption {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1a1a1a;
    border-radius: 8px;
    display: block;
}

.container1 article:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    border: #ffdd00 2px solid;
}

.container2 {
    width: 80%;
    margin: auto;
    display: flex;
}

#produtos {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #2b2a2a;
    border-bottom: #ffdd00 4px solid;
    border-radius: 8px;
}

#produtos h2 {
    margin-top: 0;
    text-decoration: underline;
    color: #ffdd00;
    background-color: #2b2a2a;
}

#produtos p {
    font-size: 18px;
    line-height: 1.6;
    background-color: #2b2a2a;
}

#produtos button {
    background-color: #ffdd00;
    font-size: 20px;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline;
}

#produtos button:hover {
    background-color: #ffee00;
}

#produtos article {
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border: #ff0000 2px solid;
    border-radius: 8px;
}

#produtos article h3 {
    margin-top: 0;
    color: #ffdd00;
    background-color: #1a1a1a;
    text-align: center;
}

.container2 p {
    padding: 1rem;
    font-size: 18px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.container2 p {
    margin-left: 20px;
    font-size: 14px;
    width: 200px;

}

#produtos-servicos {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #000000;
    border-bottom: #ffdd00 4px solid;
    border-radius: 8px;
}

#produtos-servicos h1 {
    background-color: #000000;
    font-size: 32px;    
}

#produtos-servicos p {
    font-size: 18px;
    line-height: 1.6;
    background-color: #000000;
}

#produtos-servicos h2 {
    margin-top: 0;
    color: #ffdd00;
    background-color: #000000;
}

#produtos-servicos ul {
    list-style-type: georgian;
    padding: 0;
    background-color: #000000;
}

#jogos {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #2b2a2a;
    border: #ffd700 2px solid;
    border-radius: 8px;
}

#jogos h2 {
    margin-top: 0;
    text-decoration: underline;
    color: #ffdd00;
    background-color: #2b2a2a;
}

#jogos p {
    font-size: 18px;
    line-height: 1.6;
    background-color: #2b2a2a;
}

.card {
    background-color: #1a1a1a;
    width: calc(33% - 20px);
    padding: 20px;
    margin: 10px;
    border: #e9e9e9 1px solid;
    border-radius: 8px;
}

.product-info {
    text-align: center;
    background-color: #1a1a1a;
}

.product-info button {
    margin-top: 10px;
    padding: 5px 10px;
    border: #ff0000 2px solid;
    border-radius: 5px;
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;

}

#eletronicos {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #2b2a2a;
    border: #ffdd00 2px solid;
    border-radius: 8px;
}

#eletronicos h2 {
    margin-top: 0;
    text-decoration: underline;
    color: #ffdd00;
    background-color: #2b2a2a;
}

#eletronicos p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #2b2a2a;
}

#torneios {
    width: 80%;
    margin: auto;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #000000;
    border: #ffdd00 2px solid;
    border-radius: 8px;
}

#torneios h2 {
    margin-top: 0;
    color: #ffdd00;
    background-color: #000000;
}

#torneios p {
    font-size: 18px;
    line-height: 1.6;
    background-color: #000000;
}

#torneios li {
    text-align: left;
    margin-bottom: 10px;
    background-color: #000000;
}

#torneios fieldset {
    border: #ffdd00 2px solid;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#torneios label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    margin-left: 0;
}

#torneios input,
#torneios textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #3d3838;
    color: #000000;
}

#torneios button {
    background-color: #ffdd00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#torneios button:hover {
    background-color: #ffee00b2;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
footer p {
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

footer a img {
    width: 70px;
    height: auto;
}

#sobre {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    background-color: #2b2a2a;
    border: #ffdd00 3px solid;
    padding: 20px;
    border-radius: 8px;
}

#sobre h1 {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
    background-color: #0B1C2D;
    border-radius: 50px;
    padding: 10px;
    border: #ffdd00 2px solid;
}

#sobre h2, h3{
    text-decoration: underline;
    background-color: #1f1f21;
}

#sobre p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: #1f1f21;
    border-radius: 50px;
    padding: 10px;
}

#sobre ul {
    list-style-type: none;
    padding: 0;
    background-color: #1f1f21;
}

#sobre li {
    margin-bottom: 10px;
    background-color: #1f1f21;
}

#sobre section {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #ffdd00 2px solid;
    padding: 10px;
    background-color: #1f1f21;
    border-radius: 8px;

}

#contato {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    background-color: #2b2a2a;
    border: #ffdd00 3px solid;
    padding: 20px;
    border-radius: 8px;
}

#contato h1 {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
    background-color: #0B1C2D;
    border-radius: 50px;
    padding: 10px;
    border: #ffdd00 2px solid;
}

#contato h2, h3{
    text-decoration: underline;
    background-color: #1f1f21;
}

#contato p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    background-color: #1f1f21;
    border-radius: 50px;
    padding: 10px;
}

#contato section {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #ffdd00 2px solid;
    padding: 10px;
    background-color: #1f1f21;
    border-radius: 8px;

}

.formulario-contato fieldset {
    border: #ffdd00 2px solid;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.formulario-contato label {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario-contato input, .formulario-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #3d3838;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario-contato button {
    background-color: #ffdd00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.formulario-contato button:hover {
    background-color: #ffee00b2;
}

#informacoes-contato address {
    margin-top: 20px;
    background-color: #1f1f21;
    padding: 10px;
    border-radius: 8px;
}

#wpp {
    width: 40px;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}



